<a href="https://colab.research.google.com/github/KeitaroHayashi/connect_for/blob/master/Weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.data.jma.go.jp/fcd/yoho/typhoon/statistics/generation/generation.html"
html = urllib.request.urlopen(url)
soup = BeautifulSoup(html, "html.parser")

rows2018 = soup.find_all("table")[0].findAll("tr")
table2017u = soup.find_all("table")[1]

labels = []
values = []
for row in rows2018:
    for cell in row.findAll(['th']):
        labels.append(cell.get_text())
    for cell in row.findAll(['td']):
        values.append(cell.get_text())

labels.pop(-1)
labels.pop(0)
values.pop(0)

values[3] = values[4] = values[11] = 0
values.pop()

df = pd.DataFrame(list(map(int,values)), index=labels)
df.columns = ['発生数']
df

In [19]:
%matplotlib inline
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'IPAPGothic' #全体のフォントを設定

plt.rcParams["figure.figsize"] = [12, 10]
plt.rcParams['font.size'] = 20 
plt.rcParams['xtick.labelsize'] = 15
plt.rcParams['ytick.labelsize'] = 15

df.plot(kind='bar', y='発生数').set(xlabel='月', ylabel='発生数')
plt.title('2018年')

NameError: ignored

In [ ]:
table2017u_tr = table2017u.findAll("tr")
total = []
 
for trs in table2017u_tr:
        year_v = []
        td_f = trs.find(['td'])
        td_all = trs.findAll(['td'])
        try:
            text = td_f.get_text()
            for td in td_all:
                if td.get_text().strip() == '':
                    year_v.append(0)
                else:
                    year_v.append(int(td.get_text()))
                    
            total.append(year_v)
                   
        except AttributeError:
             pass

index = []
year_num = []
for t in total:
    index.append(t[0])
    year_num.append(t[-1])

index.reverse()
index.append(2018)
year_num.reverse()
year_num.append(29)

df2 = pd.DataFrame(year_num, index=index)
df2.columns = ['発生数']

df2.plot(kind='bar', y='発生数').set(xlabel='年', ylabel='発生数')
plt.rcParams["figure.figsize"] = [15, 20]
plt.title('1951年から２０１８年')

In [ ]:
# 今年の発生数は２９
df２[df2.発生数 > 29]

In [ ]:
df2.mean()